@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

//Variable Decleration
$nunito :  'Nunito', sans-serif;
$raleway:  'Raleway', sans-serif;
$brand-color: #62d3fc;


@import  "theme/common";
@import  "theme/dashboard";
@import  "theme/profile";
@import  "theme/ticket";
@import  "theme/notification";




html, body {
  font-family: 'Raleway', sans-serif;
  background-color: #FAFBFE;
}

//Login Page design
.ts-login-page-area {
  position: relative;
  height: 100vh;
  min-height: 100%;
  overflow: hidden;
}

.ts-login-bottom-image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -18%;
}

.ts-login-page-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ts-login-card-area {
  max-width: 600px;
  margin: 0 15px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(7, 152, 255, 0.12);
  padding: 1rem 3rem;
  position: relative;
  z-index: 3;
}


//Login forms input

.ts-login-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #4D4D4D;
}

.user-input-wrp {
  position: relative;
  margin-bottom: 50px;
  display: block;
  height: 45px;
}

.ts-user-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}

.ts-lock-icon {
  position: absolute;
  left: 10px;
  top: 10px;
}

.ts-eye-icon {
  position: absolute;
  right: 10px;
  top: 20px;
}

.user-input-wrp .inputText {
  display: block;
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 115, 225, 0.2);
  height: 45px;
  padding-left: 40px;
}

.user-input-wrp .inputText:focus {
  border-color: #0073E1;
  border-width: medium medium 2px;
}

.user-input-wrp .floating-label {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 40px;
  transition: 0.2s ease all;
}

.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label {
  top: 0;
  left: 40px;
  font-size: 10px;
  line-height: 1.2;
  opacity: 0.8;
  color: #B8B8B8;
}

button.ts-login-btn {
  transition: all 0.4s ease-in-out;
  margin: auto;
  background-color: #0DC3F8;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(13, 195, 248, 0.2);
  border-radius: 10px;
  height: 50px;

  &:hover {
    background-color: darken(#0DC3F8, 10%);
  }
}


.ts-login-page-copyright {
  position: fixed;
  left: auto;
  right: auto;
  bottom: 6vh;
}



/*============================
     CrossBrowser ScrollBar
  ============================*/
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 230, 253, 0.8), rgba(0, 0, 0, 0.099);
}

::-webkit-scrollbar
{
    width: 5px;  /* for vertical scrollbars */
    height:  auto; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
    background: rgba(0, 0, 0, 0.099);
}

::-webkit-scrollbar-thumb
{
    background: rgb(155, 230, 253, 0.8);
    border-radius: 30px;
}
